# Ignore build artifacts
/build/

# Ignore VSCode and Devcontainer settings
/.vscode/
/.devcontainer/

# Ignore SDKConfig backups
/sdkconfig.old
/sdkconfig.ci

# Ignore Bosch BME68x SensorAPI files but keep CMakeLists.txt
components/bme68x_sensor_api/*
!components/bme68x_sensor_api/CMakeLists.txt
